.modal{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10;
}

.menu{
    border: 1 solid #7c015d;
    background-color: #fff;
    padding: 5;
    padding-left: 10;
    margin:7;
    border-radius: 0 300  300 0;
    width: 90%;
}

