<FlexboxLayout class="modal">
    <FlexboxLayout>
        <Label class="label" text="Menu: "></Label>
        <Label class="label" [text]="loadedDate | date"></Label>
    </FlexboxLayout>
    <FlexboxLayout alignItems="center" justifyContent="center" flexDirection="column">
        <Label class="label" text="Menu for the Day: "></Label>
        <ns-menu-items [menuItems]="menu"></ns-menu-items>
      </FlexboxLayout>
    <FlexboxLayout class="form">
        <Label class="label" text="Update Menu for the day"></Label>
        <StackLayout class="input-field">
            <Label class="label" text="Menu" [ngClass]="{invalid:dayMenuCtrl.touched && !dayMenu.valid}" ></Label>
            <TextField required returnKeyType="done" [(ngModel)]="dayMenu" #dayMenuCtrl=ngModel  class="input"></TextField>
            <Label  *ngIf=" dayMenuCtrl.touched && !dayMenuCtrl.valid" text="please enter menu for the day"></Label>
        </StackLayout>
        <button class="btn btn-primary btn-rounded-sm" text="Go" (tap)="updateMenu()" ></button>
    </FlexboxLayout>
    
    <ns-challenge-actions [actionStatus]="status"  (actionSelected)="onHandleInput($event)"></ns-challenge-actions>
</FlexboxLayout> 
